* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bGFuZHNjYXBlJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=800&q=60') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
}

button {
    padding: 10px 20px;
    font-size: 50px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transform: opacity 0.5s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #b20996;
}
#paper {
    background-color: #048af0;
}
#scissors {
    background-color: #19d11f;
}

p {
    font-weight: bold;
    font-size: 24px;
    color: #333;
    margin: 10px 0;
}

.userScore span {
    color: #d21111;
}

.computerScore span {
    color: #048af0;
}
